---
import BaseLayout from '../../layout/BaseLayout.astro';
import Breadcrumb from '../../components/Breadcrumb.astro';
import { ArrowRight } from 'lucide-react';
const breadcrumbItems = [
  { href: '/', label: 'Home' },
  { href: '/resources', label: 'Resources' },
];
---

<BaseLayout title='Resources'>
  <Breadcrumb items={breadcrumbItems} />
  <section class='py-16 px-4 lg:px-24 text-white bg-[#248d87]'>
    <div class='max-w-6xl mx-auto text-center mb-12' data-aos='fade-up'>
      <h1 class='text-4xl font-bold text-white mb-4'>Resources</h1>
      <p class='text-lg'>
        Explore our curated resources to stay informed, engaged, and empowered.
        Access our latest <strong>events</strong>, <strong>news updates</strong
        >, and
        <strong>downloads</strong> designed to keep you connected with ICAN's mission.
      </p>
    </div>
  </section>

  <!-- RESOURCE CARDS -->
  <section class='py-20 px-4 lg:px-24'>
    <div class='grid md:grid-cols-3 gap-8'>
      <!-- Events -->
      <a
        href='/resources/events'
        class='group bg-white rounded-2xl shadow-lg hover:shadow-2xl transition duration-300 flex flex-col items-center text-center'
        data-aos='fade-up'
        data-aos-delay='100'>
        <img
          src='/gallery/1.jpg'
          alt='Events'
          class='aspect-[4/3] w-full h-auto mb-4'
        />
        <h2 class='text-2xl font-semibold text-[#074351] mb-2'>Events</h2>
        <p class='text-gray-600 p-4 mb-4'>
          Stay updated on upcoming activities, workshops, and community
          engagements.
        </p>
        <span
          class='flex items-center pb-5 gap-2 text-[#074351] font-medium group-hover:gap-3 transition-all'>
          Explore <ArrowRight size={18} />
        </span>
      </a>

      <!-- News -->
      <a
        href='/resources/news'
        class='group bg-white rounded-2xl shadow-lg hover:shadow-2xl transition duration-300 flex flex-col items-center text-center'
        data-aos='fade-up'
        data-aos-delay='200'>
        <img
          src='/img/news.jpg'
          alt='News'
          class='aspect-[4/3] w-full h-auto mb-4'
        />
        <h2 class='text-2xl font-semibold text-[#074351] mb-2'>News</h2>
        <p class='text-gray-600 p-4 mb-4'>
          Read the latest updates, project milestones, and inspiring community
          stories.
        </p>
        <span
          class='flex items-center pb-5 gap-2 text-[#074351] font-medium group-hover:gap-3 transition-all'>
          Read More <ArrowRight size={18} />
        </span>
      </a>

      <!-- Downloads -->
      <a
        href='/resources/downloads'
        class='group bg-white rounded-2xl shadow-lg hover:shadow-2xl transition duration-300 flex flex-col items-center text-center'
        data-aos='fade-up'
        data-aos-delay='300'>
        <img
          src='/img/downloads.jpg'
          alt='Downloads'
          class='aspect-[4/3] w-full h-auto mb-4'
        />
        <h2 class='text-2xl font-semibold text-[#074351] mb-2'>Downloads</h2>
        <p class='text-gray-600 p-4 mb-4'>
          Access important resources, reports, and materials anytime.
        </p>
        <span
          class='flex items-center pb-5 gap-2 text-[#074351] font-medium group-hover:gap-3 transition-all'>
          View Files <ArrowRight size={18} />
        </span>
      </a>
    </div>
  </section>
</BaseLayout>
