---
import BaseLayout from '../../layout/BaseLayout.astro';
import 'aos/dist/aos.css';
---

<BaseLayout title='Ubuntu Soko Declaration'>
  <!-- Document -->
  <section class='py-14 bg-[#248d87] text-white'>
    <div class='max-w-5xl mx-auto'>
      <!-- Header -->
      <div class='text-center mb-12'>
        <h1 class='text-4xl text-white font-bold mb-2'>Ubuntu Soko</h1>
        <p class='py-6 text-lg'>
          "Where Community and Commerce Thrive Together"
        </p>
      </div>
    </div>
  </section>
  <!-- UBUNTU -->
  <section class='px-4 sm:px-4 md:px-4 lg:px-6 my-8'>
    <div class='container mx-auto bg-green-50'>
      <div class='flex flex-col md:flex-row gap-4'>
        <div
          class='flex-1 p-4'
          data-aos='fade-right'
          data-aos-duration='1000'
          data-aos-once='true'>
          <h2 class='text-3xl font-bold stories-header uppercase mb-6'>
            Ubuntu Soko
          </h2>
          <p class='mb-4 text-lg leading-relaxed'>
            Ubuntu Soko is a community-driven economic hub established to
            address local challenges of poverty, unemployment, and limited
            market access. Ubuntu Soko aims to:
          </p>
          <ul class='list-disc list-inside space-y-3 text-gray-700 mb-4'>
            <li>
              Provide both physical and virtual marketplaces for community
              members to offer their goods and services.
            </li>
            <li>
              Facilitate entrepreneurship incubation and deliver business
              training programs targeting youth, women, and marginalized groups.
            </li>
            <li>
              Connect producers with microfinance opportunities, investors, and
              supply chains through strategic partnerships and innovative
              solutions.
            </li>
            <li>
              Serve as a replicable model for sustainable community commerce,
              upholding principles of environmental stewardship and social
              responsibility.
            </li>
          </ul>
          <p class='text-gray-700'>
            Ubuntu Soko is committed to fostering economic empowerment and
            sustainable development within the community.
          </p>
        </div>
        <div
          class='flex-1'
          data-aos='fade-left'
          data-aos-duration='1000'
          data-aos-once='true'>
          <img
            src='/img/soko.jpg'
            alt='Pose'
            class='w-full h-auto md:h-[500px] object-cover'
            loading='lazy'
            decoding='async'
          />
        </div>
      </div>
    </div>
  </section>
  <!-- CTA -->
  <section class='py-16 px-4 md:px-6 bg-gray-100'>
    <div class='text-center text-2xl leading-relaxed p-6 mx-auto'>
      Explore more about Ubuntu Soko
    </div>
    <div
      class='flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0'>
      <a
        href='/forms/Ubuntu Soko Loan Document.pdf'
        target='_blank'
        class='inline-flex btn-primary justify-center items-center py-3 px-5 sm:ms-4 text-base font-medium text-center:ring-gray-400'>
        Learn More
      </a>
      <a
        href='/public/forms/Ubuntu Soko Loan Application Form.pdf'
        target='_blank'
        class='inline-flex btn-primary justify-center items-center py-3 px-5 sm:ms-4 text-base font-medium text-center:ring-gray-400'>
        Get Started
      </a>
    </div>
  </section>
  <!-- Add AOS script -->
  <script
    type='module'
    src='https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.esm.js'></script>
  <script>
    AOS.init();
  </script>
</BaseLayout>
