---
const primaryColor = '#074351';
---

<div id='cookie-banner' class='fixed bottom-0 inset-x-0 z-50 hidden'>
  <div
    class='bg-white text-[#074351] shadow-md p-4 sm:p-6 rounded-t-xl max-w-screen-xl mx-auto'>
    <div
      class='flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4'>
      <div class='text-sm sm:text-base'>
        We use cookies to improve your experience. By using this site, you agree
        to our <a href='/privacy-policy' class='underline hover:text-gray-600'
          >Privacy Policy</a
        >.
      </div>
      <div class='flex gap-3 sm:gap-4 justify-end'>
        <button
          id='accept-cookies'
          class='cursor-pointer px-4 py-2 bg-[#074351] text-white rounded-lg text-sm hover:opacity-90 transition'>
          Accept
        </button>
        <button
          id='decline-cookies'
          class='cursor-pointer px-4 py-2 border border-[#074351] text-[#074351] rounded-lg text-sm hover:bg-gray-100 transition'>
          Decline
        </button>
      </div>
    </div>
  </div>
</div>


