
<section
  class="relative bg-[url('/gallery/38.jpg')] bg-cover bg-center bg-no-repeat bg-fixed bg-blend-multiply bg-gray-500 animate-fade-in">
  <div
    class='px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56 text-white'>
    <p class='mb-2 text-lg font-medium tracking-wide'>Since 2022</p>
    <h1 class='mb-6 text-4xl md:text-4xl text-white font-extrabold leading-tight'>
      Empowering Communities <br> through Action and Innovation
    </h1>
  </div>
</section>
