---
const logos = [
  { src: '/logos/catag.jpg', alt: 'Logo 1' },
  { src: '/logos/gok.jpg', alt: 'Logo 2' },
  { src: '/logos/shofco.png', alt: 'Logo 4' },
  { src: '/logos/nacada.png', alt: 'Logo 5' },
  { src: '/logos/hbc.png', alt: 'Logo 6' },
  { src: '/logos/scouts.png', alt: 'Logo 7' },
  { src: '/logos/jonathan.jpg', alt: 'Logo 8' },
  { src: '/logos/redcross.png', alt: 'Logo 9' },
  { src: '/logos/nema.png', alt: 'Logo 10' },
  { src: '/logos/pelican.jpg', alt: 'Logo 11' },
];
---

<section class='bg-white py-16'>
  <div class='overflow-hidden relative'>
    <div class='whitespace-nowrap animate-scroll flex items-center gap-8 px-4'>
      {
        Array(2)
          .fill(null)
          .map(() => (
            <div class='flex items-center gap-8 shrink-0'>
              {logos.map((logo) => (
                <img
                  src={logo.src}
                  alt={logo.alt}
                  class='h-20 w-auto object-contain'
                  loading='lazy'
                />
              ))}
            </div>
          ))
      }
    </div>
  </div>
</section>
