<nav
  class='bg-white text-[#074351] sticky top-0 z-50 shadow-sm'
  role='navigation'
  aria-label='Main Navigation'>
  <div
    class='max-w-screen-xl    flex items-center justify-between px-4 py-4 md:py-4'>
    <!-- Logo - Always on the far left -->
    <a href='/' class='flex items-center space-x-2'>
      <img src='/img/logo-min.png' alt='ICAN Logo' class='h-10 w-auto' />
    </a>

    <!-- Mobile Toggler - Only visible on mobile -->
    <button
      id='mobile-menu-toggle'
      class='md:hidden p-2 rounded focus:outline-none focus:ring-2 focus:ring-[#074351]'
      aria-expanded='false'
      aria-controls='nav-menu'>
      <svg
        id='menu-icon'
        class='h-6 w-6'
        fill='none'
        stroke='currentColor'
        stroke-width='2'
        viewBox='0 0 24 24'
        stroke-linecap='round'
        stroke-linejoin='round'>
        <path id='hamburger' d='M4 6h16M4 12h16M4 18h16'></path>
        <path id='close' class='hidden' d='M6 18L18 6M6 6l12 12'></path>
      </svg>
    </button>

    <!-- Mobile and Desktop menu container -->
    <ul
      id='nav-menu'
      class='hidden absolute top-[70px] left-0 w-full bg-white md:relative md:top-auto md:left-auto md:w-auto md:flex flex-col md:flex-row md:items-center space-y-4 md:space-y-0 md:space-x-6 font-medium px-4 py-4 md:p-0'>
      <li class='group relative w-full md:w-auto'>
        <a
          href='/about-us'
          class='hover:text-[#0a6374] dropdown-toggle flex items-center justify-between w-full md:w-auto'>
          About
          <svg
            class='w-4 h-4 ml-1 transform transition-transform duration-200'
            fill='none'
            stroke='currentColor'
            stroke-width='2'
            viewBox='0 0 24 24'>
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M19 9l-7 7-7-7'></path>
          </svg>
        </a>
        <ul
          class='w-full bg-white hidden submenu md:w-48 md:absolute md:left-0 md:top-full md:mt-0 group-hover:md:block md:z-10'>
          <li>
            <a
              href='/about-us/organization'
              class='block px-4 py-2 hover:bg-gray-100'>Organization</a
            >
          </li>
          <li>
            <a
              href='/about-us/strategic-framework'
              class='block px-4 py-2 hover:bg-gray-100'>Strategic Framework</a
            >
          </li>
          <li>
            <a
              href='/about-us/partners-and-donors'
              class='block px-4 py-2 hover:bg-gray-100'>Partners and Donors</a
            >
          </li>
          <li>
            <a
              href='/about-us/work-with-us'
              class='block px-4 py-2 hover:bg-gray-100'>Work With Us</a
            >
          </li>
          <li>
            <a
              href='/about-us/contact'
              class='block px-4 py-2 hover:bg-gray-100'>Contact</a
            >
          </li>
        </ul>
      </li>
      <li class='group relative w-full md:w-auto'>
        <a
          href='/what-we-do'
          class='hover:text-[#0a6374] dropdown-toggle flex items-center justify-between w-full md:w-auto'>
          What We Do
          <svg
            class='w-4 h-4 ml-1 transform transition-transform duration-200'
            fill='none'
            stroke='currentColor'
            stroke-width='2'
            viewBox='0 0 24 24'>
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M19 9l-7 7-7-7'></path>
          </svg>
        </a>
        <ul
          class='w-full bg-white hidden submenu md:w-48 md:absolute md:left-0 md:top-full md:mt-0 group-hover:md:block md:z-10'>
          <li>
            <a
              href='/what-we-do/programs'
              class='block px-4 py-2 hover:bg-gray-100'>Programs</a
            >
          </li>
          <li>
            <a
              href='/what-we-do/projects'
              class='block px-4 py-2 hover:bg-gray-100'>Projects</a
            >
          </li>
        </ul>
      </li>
      <li class='group relative w-full md:w-auto'>
        <a
          href='/resources'
          class='hover:text-[#0a6374] dropdown-toggle flex items-center justify-between w-full md:w-auto'>
          Resources
          <svg
            class='w-4 h-4 ml-1 transform transition-transform duration-200'
            fill='none'
            stroke='currentColor'
            stroke-width='2'
            viewBox='0 0 24 24'>
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M19 9l-7 7-7-7'></path>
          </svg>
        </a>
        <ul
          class='w-full bg-white hidden submenu md:w-48 md:absolute md:left-0 md:top-full md:mt-0 group-hover:md:block md:z-10'>
          <li>
            <a href='/resources/news' class='block px-4 py-2 hover:bg-gray-100'
              >News</a
            >
          </li>
          <li>
            <a
              href='/resources/events'
              class='block px-4 py-2 hover:bg-gray-100'>Events</a
            >
          </li>
          <li>
            <a
              href='/resources/downloads'
              class='block px-4 py-2 hover:bg-gray-100'>Downloads</a
            >
          </li>
        </ul>
      </li>
      <!-- Donate Button - Only visible on desktop -->
      <a
        href='/donate'
        class='btn-secondary font-semibold hidden md:flex ml-4 py-2 px-4 rounded-md transition'
        >DONATE</a
      >
    </ul>
  </div>
</nav>

<script is:inline>
  // Get references to the main menu and the toggle button
  const mobileMenuToggle = document.getElementById('mobile-menu-toggle');
  const navMenu = document.getElementById('nav-menu');
  const hamburgerIcon = document.getElementById('hamburger');
  const closeIcon = document.getElementById('close');

  // Function to close the mobile menu
  const closeMobileMenu = () => {
    navMenu.classList.add('hidden');
    mobileMenuToggle.setAttribute('aria-expanded', 'false');
    hamburgerIcon.classList.remove('hidden');
    closeIcon.classList.add('hidden');
  };

  // Handle click on the main mobile menu toggle
  mobileMenuToggle.addEventListener('click', (event) => {
    // Stop event propagation to prevent the document listener from closing the menu immediately
    event.stopPropagation();
    const isExpanded =
      mobileMenuToggle.getAttribute('aria-expanded') === 'true' || false;

    // Toggle the hidden class on the main menu
    navMenu.classList.toggle('hidden');

    // Update the aria-expanded attribute
    mobileMenuToggle.setAttribute('aria-expanded', !isExpanded);

    // Toggle between hamburger and close icons
    hamburgerIcon.classList.toggle('hidden');
    closeIcon.classList.toggle('hidden');
  });

  // Handle clicks outside the menu and toggle button
  document.addEventListener('click', (event) => {
    // Check if the click is outside the nav menu and outside the toggle button
    if (
      !navMenu.contains(event.target) &&
      !mobileMenuToggle.contains(event.target)
    ) {
      if (!navMenu.classList.contains('hidden')) {
        closeMobileMenu();
      }
    }
  });

  // Handle click on dropdown toggles
  const dropdownToggles = document.querySelectorAll('.dropdown-toggle');
  dropdownToggles.forEach((toggle) => {
    // Check if the current toggle's next sibling is a submenu (for mobile only)
    const subMenu = toggle.nextElementSibling;
    if (subMenu && window.innerWidth < 768) {
      // 768px is the 'md' breakpoint in Tailwind
      toggle.addEventListener('click', (e) => {
        // Prevent the default link behavior
        e.preventDefault();

        // Toggle the hidden class on the submenu
        subMenu.classList.toggle('hidden');

        // Toggle the rotation of the SVG arrow
        const arrow = toggle.querySelector('svg');
        arrow.classList.toggle('rotate-180');
      });
    }
  });

  // Close the main menu when a menu item or submenu item is clicked on mobile
  navMenu.addEventListener('click', (e) => {
    // Check if the click was on a link
    if (e.target.tagName === 'A' && window.innerWidth < 768) {
      // Close the main menu and reset the toggle button state
      closeMobileMenu();
    }
  });
</script>
